.poinerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.head {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--light-gray-color-100);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.head > span {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--light-gray-color-100);
}

.bar {
  width: 2px;
  height: 1.1rem;
  background-color: var(--black-color);
  border-radius: 3rem;
  opacity: 0.7;
  margin-top: -3px;
  z-index: 2;
}

.shadow {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: var(--black-color);
  margin-top: -0.3rem;
  opacity: 0.1;
  transition: all 250ms ease-in-out;
}
